.navbar{
    display:flex;
    justify-content: space-between;
    background-color :chocolate;
    padding: 1em;
}

.list{
    display:flex;
    list-style-type: none;
    align-items : center;
}

.item{
    margin-right : 1em;
    
}

.item a{
    text-decoration: none;
    color: black;
}

.item a:hover{
    color : white;
}