.message{
    width: 100%;
    padding : 1em;
    border : 1px solid #ccc;
    margin : 0 auto;
    margin-top : 20px;
    margin-bottom : 20px;
}
.success{
    color : white;
    background-color: green;
    border-color: green;
}
.error{
    color: white;
    background-color: red;
    border-color: red;
}